/*===== FONTS =====*/
@font-face {
  font-family: "Samsung Sans"; 
  src: url("../fonts/font.ttf"); 
  font-style: normal; 
  font-weight: normal; 
} 
/*===== VARIABLES CSS =====*/
:root{
  --nav-width: 92px;
  --hue: 240;
  --first-color: hsl(var(--hue), 16%, 18%);
  --first-color-alt: hsl(var(--hue), 16%, 12%);
  --title-color: hsl(var(--hue), 8%, 15%);
  --text-color: hsl(var(--hue), 8%, 35%);
  --body-color: hsl(var(--hue), 100%, 99%);
  --container-color: #FFF;
  /*===== Colores =====*/
  --first-color: #0C5DF4;
  --bg-color: #12192C;
  --sub-color: #B6CEFC;
  --white-color: #FFF;
  
  /*===== Fuente y tipografia =====*/
  --body-font: 'Samsung Sans';
  --normal-font-size: 1rem;
  --small-font-size: .875rem;
  
  /*===== z index =====*/
  --z-fixed: 100;

  --hue: 223;
  --bg: hsl(var(--hue),10%,90%);
  --fg: hsl(var(--hue),10%,10%);
}

.h1 {
	font-weight: bold;
	margin: 0;
  font-size: 28px;
}

.h2 {
	text-align: center;
}

.p {
	font-size: 14px;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 20px 0 30px;
}

.span {
	font-size: 12px;
}

.a {
	color: rgb(0, 0, 0);
	font-size: 14px;
	text-decoration: none;
	margin: 5px 0;
  margin-left: 5px;
  cursor: pointer;
}

.a:hover{
  color: rgb(0, 69, 158);
}

.error{
  font-size: 14px;
  color: red;
}

.ghost {
	border-radius: 5px;
	border: 2px solid #FF4B2B;
	background-color: #292423;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

button:active {
	transform: scale(0.95);
}

button:hover {
	border: 2px solid #000;
}

button:focus {
	outline: none;
}

.ghost {
	background-color: transparent;
	border-color: #FFFFFF;
}

form, .forms {
	background-color: #FFFFFF;
	display: flex;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
  justify-content: center;
}

input {
  border-radius: 5px;
	background-color: #eee;
	border: 2px solid rgb(85, 85, 85);
	padding: 12px 15px;
	margin: 4px 0;
	width: 100%;
}

.buttom{
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 13px 25px;
  background: #292423;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  box-shadow: 0 15px 40px rgb(0 0 0 / 20%);
  transition: all 0.3s;
  font-family: "Samsung Sans"; 
}
.buttom:hover{
  background: #fff;
  color: #292423;
  cursor: pointer;
}

.buttom2{
  border-radius: 5px;
  padding: 7px;
}

.buttom2:hover{
  border: 2px solid #0C5DF4;
  color: #000;
  padding: 5px;
}

/*===== BASE =====*/
*,::before,::after{
  box-sizing: border-box;
}
body{
  position: relative;
  margin: 0;
  padding: 2rem 1.5rem 0 7.75rem;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  transition: .5s;
  overflow-x: hidden;
}
h1{
  margin: 0;
}
ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
a{
  text-decoration: none;
}
/* mobile */
@media (max-width: 520px) {

  .full_mobile{
    width: 100%;
  }

  .scale_icon{
    align-items:flex-end;
    width: 160px;
  }
  
  .site-footer
  {
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 20px;
    background: url(../images/bg.jpg) repeat-x;
    padding:45px 25px 20px;
    font-size:15px;
    line-height:24px;
    color:#525252;
  }

  .signInMOBILE{
    display: inline-flex;
  }

  .signUpMOBILE{
    display: inline-flex;
  }

  .overlay-container{
    display: none;
  }
  .sign-in-container{
    width: 100%;
  }

  .sign-up-container {
    left: 0;
    width: 100%;
    opacity: 100;
    z-index: 1;
  }

  .modalBlock {
    max-width: 90%;
  }

  body{
    padding: 1rem 1rem 6rem 1rem;
  } 
  /*===== Навигация =====*/
  .l-navbar{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: rgb(255, 255, 255);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    color: var(--white-color);
    transition: .5s;
    z-index: var(--z-fixed);
    padding-top: 0.5rem;
    text-align: center;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
  } 
  .nav__name{
    display: none;
  }
  .nav__brand{
    display: none;
  }
  .nav{
    display: inline;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    flex-wrap: inherit;
  }
  .nav__toggle{
    font-size: 1.25rem;
    padding: .75rem;
    cursor: pointer;
  }
  .nav__logo{
    color: var(--white-color);
    font-weight: 600;
  }
  .nav__logo:hover{
    color: var(--white-color);
  }

  .nav__link .active ion-icon{
    color: #FFF;
  }

  .nav__link{
    display: inline-flex;
    grid-template-columns: max-content max-content;
    align-items: center;
    column-gap: .75rem;
    padding: .75rem;
    color: #000;
    border-radius: .5rem;
    margin-bottom: 1rem;
    transition: .3s;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
  }

  .nav__link:hover{
    background-color: rgba(255, 208, 0, 0.5);
  }

  
  /*Active links menu*/
  .active{
    background-color: rgba(255, 208, 0, 0.5);
  }

  .mobile{
    display: inline;
  }

  .pc{
    display: none;
  }

  .tabs {
    display: none;
  }
}

/* PC */
@media (min-width: 520px) { 

  .full_mobile{
    width: 50%;
  }

  .tabs {
    height: 53px;
    position: fixed;
    bottom: 40px;
    right: 40px;
    display: flex;
    width: 214px;
    background-color: #fff;
    box-shadow: 0 0 1px 0 rgba(24, 94, 224, 0.15), 0 6px 12px 0 rgba(24, 94, 224, 0.15);
    padding: 0.4rem;
    border-radius: 99px;
    z-index: 1;
    border: 1px solid #16c79a;
  }

  .news{
    margin-right: 40px;
  }

  .scale_icon{
    align-items:flex-end;
    width: 115px;
  }

  .site-footer
  {
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 20px;
    background: url(../images/bg.jpg) repeat-x;
    padding:45px 0 20px;
    font-size:15px;
    line-height:24px;
    color:#525252;
  }

  .signInMOBILE{
    display: none;
  }

  .signUpMOBILE{
    display: none;
  }

  .sign-in-container {
    left: 0;
    width: 50%;
    z-index: 2;
  }

  .sign-up-container {
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
  }
  
  .modalBlock.right-panel-active .sign-in-container {
    transform: translateX(100%);
  }

  .modalBlock {
    max-width: 90%;
  }

  /*===== Навигация =====*/
  .l-navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: var(--nav-width);
    height: 98%;
    background-color: var(--bg-color);
    color: var(--white-color);
    padding: 1.5rem 1.5rem 2rem;
    transition: .5s;
    z-index: var(--z-fixed);
    margin: 10px;
    border-radius: 15px;
    background-image: url('/assets/images/abstract-lines.svg');
  }  

  /*===== NAV =====*/
  .nav{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    flex-wrap: inherit;
  }
  .nav__brand{
    display: grid;
    grid-template-columns: max-content max-content;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
  }
  .nav__toggle{
    font-size: 1.25rem;
    padding: .75rem;
    cursor: pointer;
  }
  .nav__logo{
    color: var(--white-color);
    font-weight: 600;
    background-color: var(--bg-color);
    padding: 2px;
    border-radius: 5px;
  }
  .nav__logo:hover{
    color: var(--white-color);
  }
  

  .nav__link{
    display: grid;
    grid-template-columns: max-content max-content;
    align-items: center;
    column-gap: .75rem;
    padding: .75rem;
    color: var(--white-color);
    border-radius: .5rem;
    margin-bottom: 1rem;
    transition: .3s;
    cursor: pointer;
  }

  .nav__link:hover{
    background-color: var(--first-color);
    color: #FFF;
  }

  
  /*Active links menu*/
  .active{
    background-color: var(--first-color);
  }

  .mobile{
    display: none;
  }
}

.nav__icon{
  font-size: 1.25rem;
}
.nav__name{
  font-size: var(--small-font-size);
  padding-left: 5px;
}

/*Expander menu*/
.expander{
  width: calc(var(--nav-width) + 9.25rem);
}

/*Add padding body*/
.body-pd{
  padding: 2rem 0 0 16rem;
}

/*===== COLLAPSE =====*/
.collapse{
  grid-template-columns: 20px max-content 1fr;
}
.collapse__link{
  justify-self: flex-end;
  transition: .5s;
}
.collapse__menu{
  display: none;
  padding: .75rem 2.25rem;
}
.collapse__sublink{
  color: var(--sub-color);
  font-size: var(--small-font-size);
}
.collapse__sublink:hover{
  color: var(--white-color);
}

/*Show collapse*/
.showCollapse{
  display: block;
}

/*Rotate icon*/
.rotate{
  transform: rotate(180deg);
}


/* main content */
.container_logo{
  min-height: 30vh;
  background: url(../images/bg.jpg) no-repeat;
  background-size: cover;
  border-radius: 30px;
  margin-bottom: 15px;
}

@media (max-width: 1000px) {
  .main-img{
    display: none;
  }
  .site-footer{
    padding: 45px 25px 20px;
  }
}
.main-content-wrapper {
  min-height: 30vh;
  max-height: 50vh;
  background: linear-gradient(
    153.28deg,
    rgba(255, 255, 255, 0.4) 1.19%,
    rgba(255, 255, 255, 0) 100%
  );
  backdrop-filter: blur(42px);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  border-radius: 30px;
}
.col-left span {
  display: block;
  font-size: 20px;
  font-weight: 500;
  line-height: 27px;
  color: #292423;
  margin-bottom: 10px;
}
.col-left h1 {
  font-size: 40px;
  font-weight: 800;
  color: #292423;
  line-height: 41px;
  margin-bottom: 15px;
}
.col-left p {
  width: 85%;
  font-weight: normal;
  font-size: 16px;
  line-height: 145%;
  color: #292423;
  margin-bottom: 20px;
  letter-spacing: 0.01em;
}
a.btn-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 13px 25px;
  background: #292423;
  width: 190px;
  border-radius: 50px;
  color: #fff;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  text-transform: capitalize;
  margin-top: 35px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.2);
  transition: all 0.3s;
}
a.btn-main:hover {
  background: #fff;
  color: #292423;
}
a.btn-main span {
  display: inline-block;
  width: 19px;
  height: 19px;
  background: #35343d;
  border-radius: 50px;
  margin: 0 0 0 12px;
  transition: all 0.3s;
  text-align: center;
}
a.btn-main span img {
  margin: 0 0 8px 0;
}
a.btn-main:hover span {
  background: #ccc;
}
@media (min-width: 768px) and (max-width: 1200px) {
  .container {
    padding: 0 60px;
  }
}

.content-video{
  display: inline;
}


.live-video{
  width: 99%;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 0 3px rgba(0,0,0,0.3);
  margin-top: 25px;
  padding: 25px;
}


.scroll-row{
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  height: 120px;
}


.video-block{
  flex: 0 0 auto;
  background-color: #35343d;
  border-radius: 5px;
  width: 160px;
  height: 90px;
  margin: 4px;
  padding-left: 120px;
  padding-top: 60px;
}

.live_icon{
  font-size: 14px;
  color: #fff;
  background-color: red;
  border-radius: 5px;
  width: 30px;
  padding-left: 2px;
  position: relative;
  right: 3px;
  bottom: 3px;
}


@media (min-width: 1140px){
  .news, .rounds{
    width: 48%;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 0 3px rgba(0,0,0,0.3);
    margin-top: 20px;
    padding: 25px;
  }
}

@media (max-width: 1140px) {
  .news, .rounds{
    width: 95.5%;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 0 3px rgba(0,0,0,0.3);
    margin-top: 20px;
    padding: 25px;
  }
}

.card-list {
  width: 100%;
  max-height: 500px;
  overflow-y: auto;
}

.card {
  background-color: #fff;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05), 0 20px 50px 0 rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  overflow: hidden;
  padding: 1.25rem;
  position: relative;
  transition: 0.15s ease-in;
  width: 99%;
  margin-top: 10px;
  margin-left: 2px;
}

.card:hover, .card:focus-within {
  box-shadow: 0 0 0 2px #16c79a, 0 10px 60px 0 rgba(0, 0, 0, 0.1);
  transform: translatey(-1px);
}

.card-image {
  border-radius: 10px;
  overflow: hidden;
}

.card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
}
.card-header a {
  font-weight: 600;
  font-size: 1.375rem;
  line-height: 1.25;
  padding-right: 1rem;
  text-decoration: none;
  color: inherit;
  will-change: transform;
}
.card-header a:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.icon-button {
  border: 0;
  background-color: #fff;
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  font-size: 1.25rem;
  transition: 0.25s ease;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05), 0 3px 8px 0 rgba(0, 0, 0, 0.15);
  z-index: 1;
  cursor: pointer;
  color: #565656;
}
.icon-button svg {
  width: 1em;
  height: 1em;
}
.icon-button:hover, .icon-button:focus {
  background-color: #ec4646;
  color: #fff;
}

.card-footer {
  margin-top: 1rem;
  border-top: 1px solid #ddd;
  padding: 0rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  background-color: #fff;
}

.card-meta {
  display: flex;
  align-items: center;
  color: #787878;
  margin-top: 15px;
  margin-left: 15px;
}

.card-meta p{
  margin-bottom: 0px;
}
.card-meta:first-child:after {
  display: block;
  content: "";
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: currentcolor;
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}
.card-meta svg {
  flex-shrink: 0;
  width: 1em;
  height: 1em;
  margin-right: 0.25em;
}

.modalBlock {
	background-color: #fff;
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	overflow: hidden;
	width: 768px;
	min-height: 480px;
}

.form-container {
	position: absolute;
	top: 0;
	height: 100%;
	transition: all 0.6s ease-in-out;
}

.modalBlock.right-panel-active .sign-up-container {
	transform: translateX(100%);
	opacity: 1;
	z-index: 5;
	animation: show 0.6s;
}

@keyframes show {
	0%, 49.99% {
		opacity: 0;
		z-index: 1;
	}
	
	50%, 100% {
		opacity: 1;
		z-index: 5;
	}
}

.overlay-container {
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
	overflow: hidden;
	transition: transform 0.6s ease-in-out;
	z-index: 100;
}

.modalBlock.right-panel-active .overlay-container{
	transform: translateX(-100%);
}

.overlay {
	background: #FF416C;
	background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);
	background: linear-gradient(to right, #FF4B2B, #FF416C);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	color: #FFFFFF;
	position: relative;
	left: -100%;
	height: 100%;
	width: 200%;
  	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.modalBlock.right-panel-active .overlay {
  	transform: translateX(50%);
}

.overlay-panel {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
	top: 0;
	height: 100%;
	width: 50%;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.overlay-left {
	transform: translateX(-20%);
}

.modalBlock.right-panel-active .overlay-left {
	transform: translateX(0);
}

.overlay-right {
	right: 0;
	transform: translateX(0);
}

.modalBlock.right-panel-active .overlay-right {
	transform: translateX(20%);
}

.social-container {
	margin: 20px 0;
}

.social-container a {
	border: 1px solid #DDDDDD;
	border-radius: 50%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin: 0 5px;
	height: 40px;
	width: 40px;
}

.transnone{
  transform: translateX(0);
}

/* SCROLL */
::-webkit-scrollbar {
  width: 7px;
  height: 7px;
  border-radius: 5px;
  opacity: 0.33;
}

::-webkit-scrollbar-button {
  background-color: transparent;
}

::-webkit-scrollbar-track-piece {
  background-color: rgba(255, 0, 0, 0);
}

::-webkit-scrollbar-track {
  background-color: white;
}

::-webkit-scrollbar-thumb {
  background: rgb(255,111,0);
  background: linear-gradient(180deg, rgba(209, 209, 209, 0.5) 0%, rgb(209, 184, 167) 50%);
  border-radius: 5px;
  opacity: 0.33;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(50, 29, 107);
  opacity: 1;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

.preloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: var(--bg);
  z-index: 1001;
	color: var(--fg);
	font: 1em/1.5 sans-serif;
	height: 100vh;
	display: grid;
	place-items: center;
}

/* FOOTER */
.site-footer hr
{
  border-top-color:rgb(51, 45, 45);
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:rgb(0, 0, 0);
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}

/* PRELOADER  */
.pl {
	display: block;
	width: 6.25em;
	height: 6.25em;
}
.pl__ring, .pl__ball {
	animation: ring 2s ease-out infinite;
}
.pl__ball {
	animation-name: ball;
}
@media (prefers-color-scheme: dark) {
	:root {
		--bg: hsl(var(--hue),10%,10%);
		--fg: hsl(var(--hue),10%,90%);
	}
}

/* Animation */
@keyframes ring {
	from {
		stroke-dasharray: 0 257 0 0 1 0 0 258;
	}
	25% {
		stroke-dasharray: 0 0 0 0 257 0 258 0;
	}
	50%, to {
		stroke-dasharray: 0 0 0 0 0 515 0 0;
	}
}
@keyframes ball {
	from, 50% {
		animation-timing-function: ease-in;
		stroke-dashoffset: 1;
	}
	64% {
		animation-timing-function: ease-in;
		stroke-dashoffset: -109;
	}
	78% {
		animation-timing-function: ease-in;
		stroke-dashoffset: -145;
	}
	92% {
		animation-timing-function: ease-in;
		stroke-dashoffset: -157;
	}
	57%, 71%, 85%, 99%, to {
		animation-timing-function: ease-out;
		stroke-dashoffset: -163;
	}
}
.loaded_hiding .preloader {
  transition: 0.3s opacity;
  opacity: 0;
}

.loaded .preloader {
  display: none;
}

/* TABS NAV */
.tabs * {
  z-index: 2;
}

input[type=radio] {
  display: none;
}

.tab {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 100px;
  font-size: 14px;
  font-weight: 500;
  border-radius: px;
  cursor: pointer;
  transition: color 0.15s ease-in;
}

input[type=radio]:checked + label {
  color: #185ee0;
}
input[type=radio]:checked + label > .notification {
  background-color: #185ee0;
  color: #fff;
}

input[id=radio-1]:checked ~ .glider {
  transform: translateX(0);
}

input[id=radio-2]:checked ~ .glider {
  transform: translateX(100%);
}

.glider {
  position: absolute;
  display: flex;
  height: 40px;
  width: 100px;
  background-color: #e6eef9;
  z-index: 1;
  border-radius: 99px;
  transition: 0.25s ease-out;
}

@media (max-width: 700px) {
  .tabs {
    transform: scale(0.6);
  }
}

.head_page{
  background: rgb(255,209,121);
  background: linear-gradient(94deg, rgba(255,209,121,1) 0%, rgba(0,154,150,1) 100%);
  background-blend-mode: overlay;
  border-radius: 15px;
}
.theme_back{
  background-image: url('/assets/images/back-abstract.png');
  padding: 20px;
  display: flex;
}

.modal{
  height: 100vh;
  display: grid;
  place-items: center;
  z-index: -1000;
}

.modal__container{
  position: absolute;
  top: 0;
  left: 0;
  background-color: hsla(var(--hue), 18%, 75%, .8);
  width: 100%;
  height: 100%;
  display: grid;
  align-items: flex-end;
  overflow: hidden;
  transition: all .3s;
  z-index: var(--z-modal);
  visibility: hidden;
  opacity: 0;

  /*=== Effect 3 ===*/
  /* perspective: 1000px; */
}

.modal__content{
  position: relative;
  background-color: var(--container-color);
  text-align: center;
  padding: 3rem 2rem 2rem;
  border-radius: 1rem 1rem 0 0;
  transition: all .3s;
  transform: translateY(10%);
}

.modal__img{
  width: 150px;
  margin-bottom: .75rem;
}

.modal__close{
  display: inline-flex;
  background-color: var(--first-color);
  border-radius: .25rem;
  color: #FFF;
  font-size: 1.5rem;
  position: absolute;
  top: 2rem;
  right: 2rem;
  cursor: pointer;
}

.modal__title{
  font-size: var(--big-font-size);
  color: var(--title-color);
  font-weight: 500;
}

.modal__description{
  margin-bottom: 1.5rem;
}

.modal__button-width{
  width: 90%;
}

.modal__button-link{
  display: block;
  margin: 1rem auto 0;
  background-color: transparent;
  color: var(--first-color);
  font-weight: 500;
}

/* Show modal */
.show-modal{
  visibility: visible;
  opacity: 1;
}

.show-modal .modal__content{
  transform: translateY(0);
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (min-width: 576px){
  .modal__content{
    margin: auto;
    width: 380px;
    border-radius: 1.25rem;
  }

  .modal__img{
    width: 170px;
  }
}
.spinner {
  -webkit-animation: rotator 1.4s linear infinite;
          animation: rotator 1.4s linear infinite;
}

@-webkit-keyframes rotator {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(270deg);
  }
}

@keyframes rotator {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(270deg);
  }
}
.path {
  stroke-dasharray: 187;
  stroke-dashoffset: 0;
  transform-origin: center;
  -webkit-animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
          animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
}

@-webkit-keyframes colors {
  0% {
    stroke: #4285f4;
  }
  25% {
    stroke: #de3e35;
  }
  50% {
    stroke: #f7c223;
  }
  75% {
    stroke: #1b9a59;
  }
  100% {
    stroke: #4285f4;
  }
}

@keyframes colors {
  0% {
    stroke: #4285f4;
  }
  25% {
    stroke: #de3e35;
  }
  50% {
    stroke: #f7c223;
  }
  75% {
    stroke: #1b9a59;
  }
  100% {
    stroke: #4285f4;
  }
}
@-webkit-keyframes dash {
  0% {
    stroke-dashoffset: 187;
  }
  50% {
    stroke-dashoffset: 46.75;
    transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 187;
    transform: rotate(450deg);
  }
}
@keyframes dash {
  0% {
    stroke-dashoffset: 187;
  }
  50% {
    stroke-dashoffset: 46.75;
    transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 187;
    transform: rotate(450deg);
  }
}
.loading{
  background-color: #fff;
  width: 100%;
  height: 100%;
  z-index: 1001;
  position: absolute;
  left: 0px;
  justify-content: center;
  align-items: center;
  display: grid;
}
#empty_match{
  margin-bottom: 20px; background-color: rgba(70, 70, 70, 0.1); border: 2px dashed rgba(22, 22, 22, 0.4);
}
@media (max-width: 575px) {
  .work-experience .widget-content-area .timeline-alter .item-timeline {
    display: block;
    text-align: center; }
    .work-experience .widget-content-area .timeline-alter .item-timeline .t-meta-date p, .work-experience .widget-content-area .timeline-alter .item-timeline .t-usr-txt p {
      margin: 0 auto; } }
      .done_modal{
        background-color: #fff;
        box-shadow: 0 0 5px rgba(0,0,0,0.5);
        padding: 20px;
        position: fixed;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        border-radius: 15px;
        text-align: center;
        padding-bottom: 0px;
      }
      .back_fon{
        width: 100%;
        height: 100%;
        position: fixed;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        background-color: rgba(100, 100, 100, 0.7);
        z-index: 100;
      }
      .modal-window {
        position: fixed;
        background-color: rgba(65, 65, 65, 0.35);
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: none;
    }
    .modal-window:target {
        visibility: visible;
        opacity: 1;
        pointer-events: auto;
    }
    .modal-window > div {
        width: 500px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    @media (max-width: 520px) {
        .modal-window > div {
            width: 90%;
        }
    }

    .modal-window-full {
      position: fixed;
      background-color: rgba(65, 65, 65, 0.35);
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1000;
      display: none;
  }
  .modal-window-full > div {
      width: 90%;
      height: 80%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
  }
.none_card{
  border: 2px dashed rgba(0, 0, 0, 0.5); padding: 20px; border-radius: 5px;
}

.checkbox{
  padding-bottom: 10px;
}
.checkbox-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.checkbox-group > * {
  margin: 0.5rem 0.5rem;
}

.checkbox-group-legend {
  font-size: 1.5rem;
  font-weight: 700;
  color: #9c9c9c;
  text-align: center;
  line-height: 1.125;
  margin-bottom: 1.25rem;
}
.checkbox-wrapper{
  width: 100%;
}
.checkbox-input {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
.checkbox-input:checked + .checkbox-tile {
  border-color: #2260ff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  color: #2260ff;
}
.checkbox-input:checked + .checkbox-tile:before {
  transform: scale(1);
  opacity: 1;
  background-color: #2260ff;
  border-color: #2260ff;
}
.checkbox-input:checked + .checkbox-tile .checkbox-icon, .checkbox-input:checked + .checkbox-tile .checkbox-label {
  color: #2260ff;
}
.checkbox-input:focus + .checkbox-tile {
  border-color: #2260ff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1), 0 0 0 4px #b5c9fc;
}
.checkbox-input:focus + .checkbox-tile:before {
  transform: scale(1);
  opacity: 1;
}

.checkbox-tile {
  display: flex;
  min-height: 5rem;
  border-radius: 0.5rem;
  border: 2px solid #b5bfd9;
  background-color: #fff;
 transition: 0.15s ease;
  cursor: pointer;
  position: relative;
}
.checkbox-tile:before {
  content: "";
  position: absolute;
  display: block;
  width: 1.25rem;
  height: 1.25rem;
  border: 2px solid #b5bfd9;
  background-color: #fff;
  border-radius: 50%;
  top: 0.25rem;
  left: 0.25rem;
  opacity: 0;
  transform: scale(0);
  transition: 0.25s ease;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='192' height='192' fill='%23FFFFFF' viewBox='0 0 256 256'%3E%3Crect width='256' height='256' fill='none'%3E%3C/rect%3E%3Cpolyline points='216 72.005 104 184 48 128.005' fill='none' stroke='%23FFFFFF' stroke-linecap='round' stroke-linejoin='round' stroke-width='32'%3E%3C/polyline%3E%3C/svg%3E");
  background-size: 12px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.checkbox-tile:hover {
  border-color: #2260ff;
}
.checkbox-tile:hover:before {
  transform: scale(1);
  opacity: 1;
}

.checkbox-icon {
  transition: 0.375s ease;
  color: #494949;
}
.checkbox-icon svg {
  width: 3rem;
  height: 3rem;
}

.checkbox-label {
  color: #707070;
  transition: 0.375s ease;
  text-align: center;
}

/* МОЖЕТ БЫТЬ КОНФЛИКТ */
.widget-four {
  position: relative;
  background: #fff;
  padding: 20px;
  border-radius: 6px;
  height: 100%;
  box-shadow: none;
  border: 1px solid #e0e6ed;
  box-shadow: 0 0 40px 0 rgba(94, 92, 154, 0.06); }
  .widget-four .widget-heading {
    margin-bottom: 25px; }
    .widget-four .widget-heading h5 {
      font-size: 17px;
      display: block;
      color: #0e1726;
      font-weight: 600;
      margin-bottom: 0; }
  .widget-four .widget-content {
    font-size: 17px; }
    .widget-four .widget-content .browser-list {
      display: flex; }
      .widget-four .widget-content .browser-list:not(:last-child) {
        margin-bottom: 30px; }
    .widget-four .widget-content .w-icon {
      display: inline-block;
      padding: 10px 9px;
      border-radius: 50%;
      display: inline-flex;
      align-self: center;
      height: 34px;
      width: 34px;
      margin-right: 12px; }
      .widget-four .widget-content .w-icon svg {
        display: block;
        width: 15px;
        height: 15px; }
    .widget-four .widget-content .browser-list:nth-child(1) .w-icon {
      background: #eaf1ff; }
    .widget-four .widget-content .browser-list:nth-child(2) .w-icon {
      background: #fff5f5; }
    .widget-four .widget-content .browser-list:nth-child(3) .w-icon {
      background: #fff9ed; }
    .widget-four .widget-content .browser-list:nth-child(1) .w-icon svg {
      color: #4361ee; }
    .widget-four .widget-content .browser-list:nth-child(2) .w-icon svg {
      color: #e7515a; }
    .widget-four .widget-content .browser-list:nth-child(3) .w-icon svg {
      color: #e2a03f; }
    .widget-four .widget-content .w-browser-details {
      width: 100%;
      align-self: center; }
    .widget-four .widget-content .w-browser-info {
      display: flex;
      justify-content: space-between;
      margin-bottom: 1px; }
      .widget-four .widget-content .w-browser-info h6 {
        font-size: 13px;
        font-weight: 600;
        margin-bottom: 0;
        color: #888ea8; }
      .widget-four .widget-content .w-browser-info p {
        font-size: 12px;
        font-weight: 600;
        margin-bottom: 0;
        color: #888ea8; }
    .widget-four .widget-content .w-browser-stats .progress {
      margin-bottom: 0;
      height: 22px;
      padding: 4px;
      border-radius: 20px;
      box-shadow: 0 2px 2px rgba(224, 230, 237, 0.458824), 1px 6px 7px rgba(224, 230, 237, 0.458824); }
      .widget-four .widget-content .w-browser-stats .progress .progress-bar {
        position: relative; }
:root {
  --c-text-primary: #282a32;
  --c-text-secondary: #686b87;
  --c-text-action: #404089;
  --c-accent-primary: #434ce8;
  --c-border-primary: #eff1f6;
  --c-background-primary: #ffffff;
  --c-background-secondary: #fdfcff;
  --c-background-tertiary: #ecf3fe;
  --c-background-quaternary: #e9ecf4;
}

.button {
  cursor: pointer;
  font: inherit;
  color: inherit;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0 1em;
  height: 40px;
  border-radius: 8px;
  line-height: 1;
  border: 2px solid var(--c-border-primary);
  color: var(--c-text-action);
  font-size: 0.875rem;
  transition: 0.15s ease;
  background-color: var(--c-background-primary);
  -ms-user-select: none; 
		-moz-user-select: none; 
		-webkit-user-select: none; 
		user-select: none; 
}
.button i {
  margin-right: 0.5rem;
  font-size: 1.25em;
}
.button span {
  font-weight: 500;
}
.button:hover, .button:focus {
  border-color: var(--c-accent-primary);
  color: var(--c-accent-primary);
}

.buttom_all{
  width: 100%;
  margin-bottom: 15px;
  height: 50px;
}

.icon-button {
  font: inherit;
  color: inherit;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 8px;
  color: var(--c-text-action);
  transition: 0.15s ease;
}
.icon-button i {
  font-size: 1.25em;
}
.icon-button:focus, .icon-button:hover {
  background-color: var(--c-background-tertiary);
  color: var(--c-accent-primary);
}
.main-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.main-header h1 {
  font-size: 1.75rem;
  font-weight: 600;
  line-height: 1.25;
}
@media (max-width: 550px) {
  .main-header h1 {
    margin-bottom: 1rem;
  }
}

.search {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 340px;
}
.search input {
  font: inherit;
  color: inherit;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0 1em 0 36px;
  height: 40px;
  border-radius: 8px;
  border: 2px solid var(--c-border-primary);
  color: var(--c-text-action);
  font-size: 0.875rem;
  transition: 0.15s ease;
  width: 100%;
  line-height: 1;
}
.search input::-moz-placeholder {
  color: var(--c-text-action);
}
.search input:-ms-input-placeholder {
  color: var(--c-text-action);
}
.search input::placeholder {
  color: var(--c-text-action);
}
.search input:focus, .search input:hover {
  border-color: var(--c-accent-primary);
}
.search button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 0;
  background-color: transparent;
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.25em;
  color: var(--c-text-action);
  padding: 0;
  height: 40px;
}

.horizontal-tabs {
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
  overflow-x: auto;
  background-color: #fff;
}
@media (max-width: 1000px) {
  .horizontal-tabs {
    scrollbar-width: none;
    position: relative;
  }
  .horizontal-tabs::-webkit-scrollbar {
    display: none;
  }
}
.horizontal-tabs a {
  display: inline-flex;
  flex-shrink: 0;
  align-items: center;
  height: 48px;
  padding: 0 0.25rem;
  font-weight: 500;
  color: inherit;
  border-bottom: 3px solid transparent;
  text-decoration: none;
  transition: 0.15s ease;
}
.horizontal-tabs a:hover, .horizontal-tabs a:focus, .horizontal-tabs a.active_tab {
  color: var(--c-accent-primary);
  border-bottom-color: var(--c-accent-primary);
  cursor: pointer;
}

.horizontal-tabs a + * {
  margin-left: 1rem;
}

.vertical-tabs {
  display: flex;
  flex-direction: column;
}
.vertical-tabs a {
  display: flex;
  align-items: center;
  padding: 0.75em 1em;
  background-color: transparent;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 500;
  color: var(--c-text-action);
  transition: 0.15s ease;
}
.vertical-tabs a:hover, .vertical-tabs a:focus, .vertical-tabs a.active {
  background-color: var(--c-background-tertiary);
  color: var(--c-accent-primary);
}

.vertical-tabs a + * {
  margin-top: 0.25rem;
}

.content-main {
  padding-top: 2rem;
  padding-bottom: 6rem;
  flex-grow: 1;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  -moz-column-gap: 1.5rem;
       column-gap: 1.5rem;
  row-gap: 1.5rem;
}
@media (min-width: 600px) {
  .card-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1200px) {
  .card-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

.toggle span {
  display: block;
  width: 40px;
  height: 24px;
  border-radius: 99em;
  background-color: var(--c-background-quaternary);
  box-shadow: inset 1px 1px 1px 0 rgba(0, 0, 0, 0.05);
  position: relative;
  transition: 0.15s ease;
}
.toggle span:before {
  content: "";
  display: block;
  position: absolute;
  left: 3px;
  top: 3px;
  height: 18px;
  width: 18px;
  background-color: var(--c-background-primary);
  border-radius: 50%;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
  transition: 0.15s ease;
}
.toggle input {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
.toggle input:checked + span {
  background-color: var(--c-accent-primary);
}
.toggle input:checked + span:before {
  transform: translateX(calc(100% - 2px));
}
.toggle input:focus + span {
  box-shadow: 0 0 0 4px var(--c-background-tertiary);
}
.avatar{
  border: 3px solid rgba(0, 174, 237, 0.5);
}
